In [ ]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:ZinaGroup21!@localhost:5432/teste")

In [ ]:
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy import ForeignKey
from sqlalchemy import insert
from sqlalchemy import select, bindparam

In [ ]:
metadata = MetaData()

user_table = Table(
    "user_account",
    metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(30)),
    Column('fullname',String)
)

In [ ]:
address_table = Table (
    "address",
    metadata,
    Column('id', Integer, primary_key=True),
    Column('user_id', ForeignKey('user_account.id'), nullable= False),
    Column('email_address', String, nullable= False)
)

In [ ]:
metadata.create_all(engine)

In [ ]:
from sqlalchemy import delete

with engine.begin() as conn:
    result = conn.execute(
        delete(user_table).where(user_table.c.id >1)
    )

In [ ]:
with engine.begin() as conn:
    result= conn.execute(
        insert(user_table),
        [
            {"name":"sandy", "fullname": "Sandy Cheeks"},
            {"name": "patrick", "fullname": "Patrick Star"}
        ]
    )

In [ ]:
stmt= (
    insert(address_table).values(user_id = 1, email_address = "spongebob@sqlalchemy.org")
)
with engine.begin() as conn:
    result= conn.execute(stmt)

In [29]:
scalar_subquery = (
    select(user_table.c.id).
    where(user_table.c.name==bindparam('username')).
    scalar_subquery()
)

In [32]:
with engine.connect() as conn:
   result = conn.execute(
       insert(address_table).values(user_id=scalar_subquery),
       [
           {"username": 'sandy', "email_address": "sandy@sqlalchemy.org"},
           {"username": 'sandy', "email_address": "sandy@squirrelpower.org"},
       ]
   )

In [31]:
with engine.begin() as conn:
    result = conn.execute(
        delete(address_table).where(address_table.c.id >1)
    )

In [33]:
from sqlalchemy import literal_column
stmt=(
    select(
        ("Username:" + user_table.c.name).label("username"),
    ).order_by(user_table.c.name)
)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.username}")

Username:patrick
Username:sandy
Username:spongebob