In [11]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:ZinaGroup21!@localhost:5432/teste", echo = True)

In [1]:
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy import ForeignKey
from sqlalchemy import insert
from sqlalchemy import select, bindparam

In [3]:
metadata = MetaData()

user_table = Table(
    "user_account",
    metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(30)),
    Column('fullname',String)
)

In [4]:
address_table = Table (
    "address",
    metadata,
    Column('id', Integer, primary_key=True),
    Column('user_id', ForeignKey('user_account.id'), nullable= False),
    Column('email_address', String, nullable= False)
)

In [ ]:
metadata.create_all(engine)

In [ ]:
from sqlalchemy import delete

with engine.begin() as conn:
    result = conn.execute(
        delete(user_table).where(user_table.c.id >1)
    )

In [ ]:
with engine.begin() as conn:
    result= conn.execute(
        insert(user_table),
        [
            {"name":"sandy", "fullname": "Sandy Cheeks"},
            {"name": "patrick", "fullname": "Patrick Star"}
        ]
    )

In [ ]:
stmt= (
    insert(address_table).values(user_id = 1, email_address = "spongebob@sqlalchemy.org")
)
with engine.begin() as conn:
    result= conn.execute(stmt)

In [29]:
scalar_subquery = (
    select(user_table.c.id).
    where(user_table.c.name==bindparam('username')).
    scalar_subquery()
)

In [32]:
with engine.connect() as conn:
   result = conn.execute(
       insert(address_table).values(user_id=scalar_subquery),
       [
           {"username": 'sandy', "email_address": "sandy@sqlalchemy.org"},
           {"username": 'sandy', "email_address": "sandy@squirrelpower.org"},
       ]
   )

In [31]:
with engine.begin() as conn:
    result = conn.execute(
        delete(address_table).where(address_table.c.id >1)
    )

In [7]:
stmt = (
    select(user_table)
)
print(stmt)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

In [12]:
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)

2021-07-28 14:14:42,005 INFO sqlalchemy.engine.Engine select version()
2021-07-28 14:14:42,006 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-07-28 14:14:42,008 INFO sqlalchemy.engine.Engine select current_schema()
2021-07-28 14:14:42,010 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-07-28 14:14:42,013 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2021-07-28 14:14:42,014 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-07-28 14:14:42,017 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
2021-07-28 14:14:42,020 INFO sqlalchemy.engine.Engine [generated in 0.00258s] {}
(1, 'spongebob', 'Spongebob Squarepants')
(2, 'sandy', 'Sandy Cheeks')
(3, 'patrick', 'Patrick Star')